In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [19]:
results_path = "/home/francisco/Documents/tesis/data/results/plasticc/"
df = pd.read_csv(os.path.join(results_path, "ibopf_config_A.csv"))
df2 = df.sort_values(by=["mean_test_score"], ascending=False)
df2.iloc[:40]

,Unnamed: 0,class_feature,scheme,reducer_type,param_ext__idx,param_red__sc,window,word_length,mean_test_score,std_test_score,rank_test_score
21655,21655,type-2,ltc.ltc,lsa,53,261,80.301602,5,0.560000,0.056862,1
22979,22979,type-2,ntc.ntc,lsa,53,462,80.301602,5,0.558333,0.052308,1
21659,21659,type-2,ltc.ltc,lsa,53,462,80.301602,5,0.556667,0.061554,2
21657,21657,type-2,ltc.ltc,lsa,53,361,80.301602,5,0.553333,0.056667,3
22978,22978,type-2,ntc.ntc,lsa,53,411,80.301602,5,0.553333,0.048189,2
22977,22977,type-2,ntc.ntc,lsa,53,361,80.301602,5,0.553333,0.050442,2
21654,21654,type-2,ltc.ltc,lsa,53,210,80.301602,5,0.553333,0.063158,3
21658,21658,type-2,ltc.ltc,lsa,53,411,80.301602,5,0.551667,0.065171,5
22974,22974,type-2,ntc.ntc,lsa,53,210,80.301602,5,0.551667,0.046815,4
26939,26939,type-2,ltn.ltn,lsa,53,462,80.301602,5,0.550000,0.068313,1
22975,22975,type-2,ntc.ntc,lsa,53,261,80.301602,5,0.550000,0.052705,5
22976,22976,type-2,ntc.ntc,lsa,53,311,80.301602,5,0.548333,0.046218,6
21656,21656,type-2,ltc.ltc,lsa,53,311,80.301602,5,0.548333,0.051881,6
21651,21651,type-2,ltc.ltc,lsa,53,60,80.301602,5,0.548333,0.050799,7
26938,26938,type-2,ltn.ltn,lsa,53,411,80.301602,5,0.546667,0.066999,2
21653,21653,type-2,ltc.ltc,lsa,53,160,80.301602,5,0.545000,0.059184,8
28259,28259,type-2,ntn.ntn,lsa,53,462,80.301602,5,0.543333,0.060185,1
26937,26937,type-2,ltn.ltn,lsa,53,361,80.301602,5,0.540000,0.060645,3
28258,28258,type-2,ntn.ntn,lsa,53,411,80.301602,5,0.538333,0.064140,2
28257,28257,type-2,ntn.ntn,lsa,53,361,80.301602,5,0.538333,0.058238,2
28254,28254,type-2,ntn.ntn,lsa,53,210,80.301602,5,0.538333,0.067515,2
22971,22971,type-2,ntc.ntc,lsa,53,60,80.301602,5,0.536667,0.052068,7
28256,28256,type-2,ntn.ntn,lsa,53,311,80.301602,5,0.536667,0.062272,5
26936,26936,type-2,ltn.ltn,lsa,53,311,80.301602,5,0.536667,0.065320,4
22973,22973,type-2,ntc.ntc,lsa,53,160,80.301602,5,0.536667,0.056667,8
26934,26934,type-2,ltn.ltn,lsa,53,210,80.301602,5,0.535000,0.067680,5
23639,23639,type-2,ntc.ntc,anova,53,462,80.301602,5,0.535000,0.069702,1
28253,28253,type-2,ntn.ntn,lsa,53,160,80.301602,5,0.533333,0.069921,6
26935,26935,type-2,ltn.ltn,lsa,53,261,80.301602,5,0.533333,0.069522,6
21652,21652,type-2,ltc.ltc,lsa,53,110,80.301602,5,0.533333,0.059628,9
22961,22961,type-2,ntc.ntc,lsa,52,60,71.568878,5,0.533333,0.058689,9
28255,28255,type-2,ntn.ntn,lsa,53,261,80.301602,5,0.533333,0.064550,7
21527,21527,type-2,ltc.ltc,lsa,40,361,63.785830,4,0.531667,0.081121,10
21522,21522,type-2,ltc.ltc,lsa,40,110,63.785830,4,0.530000,0.075203,11
22319,22319,type-2,ltc.ltc,anova,53,462,80.301602,5,0.530000,0.058595,1
23638,23638,type-2,ntc.ntc,anova,53,411,80.301602,5,0.530000,0.066583,2
21541,21541,type-2,ltc.ltc,lsa,42,60,80.301602,4,0.528333,0.089147,12
26933,26933,type-2,ltn.ltn,lsa,53,160,80.301602,5,0.528333,0.065849,7
28252,28252,type-2,ntn.ntn,lsa,53,110,80.301602,5,0.528333,0.066687,8
22317,22317,type-2,ltc.ltc,anova,53,361,80.301602,5,0.528333,0.056789,2

In [16]:
df2[df2["reducer_type"] == "anova"]

,Unnamed: 0,class_feature,scheme,reducer_type,param_ext__idx,param_red__sc,window,word_length,mean_test_score,std_test_score,rank_test_score
23639,23639,type-2,ntc.ntc,anova,53,462,80.301602,5,0.535000,0.069702,1
22319,22319,type-2,ltc.ltc,anova,53,462,80.301602,5,0.530000,0.058595,1
23638,23638,type-2,ntc.ntc,anova,53,411,80.301602,5,0.530000,0.066583,2
22317,22317,type-2,ltc.ltc,anova,53,361,80.301602,5,0.528333,0.056789,2
22318,22318,type-2,ltc.ltc,anova,53,411,80.301602,5,0.528333,0.051126,2
...,...,...,...,...,...,...,...,...,...,...,...
11287,11287,type-1,ltc.ltc,anova,6,361,63.785830,2,0.171667,0.010672,651
11286,11286,type-1,ltc.ltc,anova,6,311,63.785830,2,0.171667,0.010672,651
11285,11285,type-1,ltc.ltc,anova,6,261,63.785830,2,0.171667,0.010672,651
11284,11284,type-1,ltc.ltc,anova,6,210,63.785830,2,0.171667,0.010672,651
11283,11283,type-1,ltc.ltc,anova,6,160,63.785830,2,0.171667,0.010672,651